<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <style>
            table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        {% if winner == "Draw"%}
        <h1>It's a Draw!</h1>
        {% else %}
        <br><h1>{{winner}} Wins!!</h1>
        {% endif %}
        <h1>X Score : {{score_x}}</h1>
        <h1>O Score : {{score_o}}</h1>
        <h1>Draw    : {{score_draw}}</h1>
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] %}
                                {{ game[i][j] }}
                            {% else %}
                                
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('reset') }}">Reset Game</a>
    </body>
</html>